/**
 * Created by amy on 2017/01/16.
 */
@charset "utf-8";body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,ol,p,select,td,textarea,th,ul{margin:0;padding:0}
body{font-family: sans-serif, "Apple SD Gothic Neo", "Malgun Gothic", Dotum, Gulim, "Helvetica Neue", Helvetica, Roboto, Arial;font-size:12px;background-attachment:fixed;-webkit-text-size-adjust:100%}
a{color: #337ab7;text-decoration:none}
a:hover{color: #337ab7;text-decoration:none;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle;width:100%}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word}
.p-indent{text-indent:2em;padding:.5em}
.f-l{float:left}
.f-r{float:right}
.clear{clear:both;width:100%;height: 5px;}
.clear-18{clear:both;width:100%;height:18px}
.clear-10{clear:both;width:100%;height:10px}
.clear-no{clear:both}
.off {display: none;}
.on {display: block;}
.grey {background-color:#f1f1f1;}

/* family */
.song {font-family: "宋体";}

/* cnzz */
#cnzz_stat_icon_1259205081{display:none;}
